.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 64px 0px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__krAYa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__krAYa {
    width: 100%;
  }
}
.freeBox__w4Vd {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__w4Vd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__w4Vd > :global(.__wab_flex-container) > *,
.freeBox__w4Vd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w4Vd > :global(.__wab_flex-container) > picture > img,
.freeBox__w4Vd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__aqtdz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__aqtdz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__aqtdz > :global(.__wab_flex-container) > *,
.freeBox__aqtdz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aqtdz > :global(.__wab_flex-container) > picture > img,
.freeBox__aqtdz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.logo {
  background: url("/plasmic/寒芒/images/logo.png") center center / cover no-repeat;
  transform: translate(-0.02300000000000013px, -0.17800000000000005px);
  width: 48px;
  height: 48px;
  display: block;
  flex-shrink: 0;
}
.logoText {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ni0Wf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
  min-width: 0;
}
.text__nVuKh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-KJ6NKHKNY);
  font-size: 12px;
  min-width: 0;
}
.freeBox__oni3R {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__oni3R > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oni3R > :global(.__wab_flex-container) > *,
.freeBox__oni3R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oni3R > :global(.__wab_flex-container) > picture > img,
.freeBox__oni3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.title7 {
  display: block;
  font-size: 14px;
  font-family: "system-ui";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.title14 {
  display: block;
  font-size: 14px;
  font-family: "system-ui";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.column__yqHmT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yqHmT {
    width: 100%;
  }
}
.freeBox__p4LpR {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__p4LpR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__p4LpR > :global(.__wab_flex-container) > *,
.freeBox__p4LpR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p4LpR > :global(.__wab_flex-container) > picture > img,
.freeBox__p4LpR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hIoyk {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__hIoyk > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hIoyk > :global(.__wab_flex-container) > *,
.freeBox__hIoyk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hIoyk > :global(.__wab_flex-container) > picture > img,
.freeBox__hIoyk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__bjNom {
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff99;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__dKxM1 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__dKxM1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__dKxM1 > :global(.__wab_flex-container) > *,
.freeBox__dKxM1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKxM1 > :global(.__wab_flex-container) > picture > img,
.freeBox__dKxM1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__huCiw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.title16 {
  display: block;
  font-size: 16px;
  font-family: "system-ui";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
}
.freeBox__fnV9R {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fnV9R > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__fnV9R > :global(.__wab_flex-container) > *,
.freeBox__fnV9R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fnV9R > :global(.__wab_flex-container) > picture > img,
.freeBox__fnV9R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__sodUx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.title17 {
  display: block;
  font-size: 16px;
  font-family: "system-ui";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
}
.freeBox__uzBEs {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__uzBEs > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__uzBEs > :global(.__wab_flex-container) > *,
.freeBox__uzBEs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uzBEs > :global(.__wab_flex-container) > picture > img,
.freeBox__uzBEs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__ebYwT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.title18 {
  display: block;
  font-size: 16px;
  font-family: "system-ui";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  position: relative;
}
.column__tj1E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tj1E {
    width: 100%;
  }
}
.freeBox__ocBnH {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__ocBnH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ocBnH > :global(.__wab_flex-container) > *,
.freeBox__ocBnH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocBnH > :global(.__wab_flex-container) > picture > img,
.freeBox__ocBnH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___6IEjX {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___6IEjX > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6IEjX > :global(.__wab_flex-container) > *,
.freeBox___6IEjX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6IEjX > :global(.__wab_flex-container) > picture > img,
.freeBox___6IEjX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2NyUq {
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff99;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___84Kak {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___84Kak {
    width: 100%;
  }
}
.freeBox__clM {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__clM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__clM > :global(.__wab_flex-container) > *,
.freeBox__clM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__clM > :global(.__wab_flex-container) > picture > img,
.freeBox__clM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__kg4VY {
  position: relative;
  left: auto;
  top: auto;
  color: #ffffff99;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-family: "system-ui";
  font-style: normal;
  text-align: left;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___4UqbM {
  color: #ffffff;
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.root .link___4UqbM:hover {
  text-decoration-line: underline;
}
.link__ibLlN {
  color: #ffffff;
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.root .link__ibLlN:hover {
  text-decoration-line: underline;
}
.link__saFzf {
  color: #ffffff;
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.root .link__saFzf:hover {
  text-decoration-line: underline;
}
.link__ccObg {
  color: #ffffff;
  font-family: "system-ui";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.root .link__ccObg:hover {
  text-decoration-line: underline;
}
